---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DFOnline Wiki">
	<main class="flex flex-col h-screen">
		<div class="mx-auto mt-16 flex flex-col">
			<h1 class="flex mx-auto">
				<img src="/enderchest.png" alt="DFOnline Logo" class="w-20"/>
				<span class="text-5xl my-auto">DFOnline Info</span>
			</h1>
			<p class="mx-auto text-center mt-5">Infomation on all the actions, codeblocks and more in  <a href="https://mcdiamondfire.com/home/">DiamondFire</a>
			<br />
			Think of it as automatic DF documentation.
			</p>
		</div>

		<div class="m-auto mt-32 grid gap-2">
			<div class="flex">
				<input type="text" name="Search" id="search" placeholder="Search" class="p-3 rounded-l-lg" />
				<button class="p-3 rounded-r-lg bg-slate-700">🔎</button>
			</div>
			<button class="p-3 rounded-lg bg-slate-500">Code Blocks</button>
			<button class="p-3 rounded-lg bg-slate-500">Actions</button>
			<button class="p-3 rounded-lg bg-slate-600" disabled>Game Values</button>
			<button class="p-3 rounded-lg bg-slate-600" disabled>Sounds</button>
			<button class="p-3 rounded-lg bg-slate-600" disabled>Potions</button>
			<button class="p-3 rounded-lg bg-slate-700" disabled>Cosmetics</button>
			<button class="p-3 rounded-lg bg-slate-700" disabled>Shops</button>
		</div>
	</main>
</Layout>