---
import MinecraftText from "./MinecraftText.astro";

---

<footer class="bg-zinc-900 text-white p-3 flex flex-row">
    <a href="https://github.com/DFOnline">DFOnline</a> <a href="https://github.com/DFOnline/info">Info</a>
</footer>