---
import type { Icon } from '../actiondump';
import Container from './Container.astro';
import MinecraftText from './MinecraftText.astro';

export interface Props {
    icon: Icon;
}

const { icon } = Astro.props;

const GRAY = 'ยง7'
---

<Container>
    <div class="flex">
        <div>
            <h2 class="text-lg"><MinecraftText text={icon.name} /></h2>
            <p class="flex flex-col">
                {icon.description.map(line => <span>{<MinecraftText text={GRAY + line} />}</span>)}
            </p>
            {icon.example.length != 0 && <ul><br />
            {icon.example.map(line => <li>{<MinecraftText text={GRAY + line} />}</li>)}    
            </ul>}
        </div>
        <img src={`https://dfonline.dev/public/images/${icon.material}.png`} alt={icon.material.replace('_',' ').toLowerCase()} class="ml-5" />
    </div>
</Container>

<style>
    img:after {
        content: "";
        clear: both;
        display: block;
    }

    img {
        zoom: 1;
    }
</style>