---
import { cleanText, Icon } from '../actiondump';
import Container from './Container.astro';

export interface Props {
    icon: Icon;
}

const { icon } = Astro.props;
---

<Container>
    <div>
        <h2 class="text-lg">{cleanText(icon.name)}</h2>
        <p class="flex flex-col">
            {icon.description.map(line => <span>{cleanText(line)}</span>)}
        </p>
        {icon.example.length != 0 && <ul><br />
            {icon.example.map(line => <li>{<span>{cleanText(line)}</span>}</li>)}    
        </ul>}
    </div>
    <img src={`https://dfonline.dev/public/images/${icon.material}.png`} alt={icon.material.replace('_',' ').toLowerCase()} class="ml-5" />
</Container>

<style>
    img:after {
        content: "";
        clear: both;
        display: block;
    }

    img {
        zoom: 1;
    }
</style>