---
import { openConfig } from "astro/dist/core/config";
import ActionDump, { Action, cleanText, Codeblock } from "../actiondump";
import { findCodeBlock } from "../pages/blocks/[block]/index.astro";

const Data = new Map();
const CodeBlocks = new Map<String, Action[]>();
ActionDump.actions.forEach(a => {
    const codeblock = a.codeblockName;
    if(!CodeBlocks.has(codeblock)) CodeBlocks.set(codeblock,[]);
    const actions = (CodeBlocks.get(codeblock) as Action[]);
    actions.push(a);
    CodeBlocks.set(codeblock, actions);
});
Data.set('blocks',CodeBlocks);
---

<aside class="bg-zinc-800 text-white max-h-screen overflow-y-scroll">
    {[...CodeBlocks.entries()].map(codeblock => 
    <details>
        <summary class="flex w-full border-l-4 border-l-teal-800 hover:border-l-teal-600 hover:bg-teal-700">
            <a class="m-auto" href={`/blocks/${codeblock[0].replace(' ','')}`}>{codeblock[0]}</a>
        </summary>
        <ul>
            {codeblock[1].map(action => 
                <li class="border-l-4 border-l-teal-800 hover:border-l-teal-600 ml-1 pl-3">
                    <a href={`/blocks/${codeblock[0].replace(' ','')}/${action.name}`}>{cleanText(action.icon.name)}</a>
                </li>)}
        </ul>
    </details>)}
</aside>

<style>
    summary {
        list-style: none;
        text-align: center;
    }
    summary::before {
        content: '>';
        margin-left: 0.3em;
        transform-origin: center 0.8em;
        transform: translateY(-0.1em);
        transition: rotate 0.2s;
    }
    details[open] > summary::before {
        rotate: 90deg;
    }
</style>